<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Turn on</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</head>


<body>
    <div class=" container ">
        <div class="container__item ">
            <form class="form ">
               <h1>Made by @drogi17</h1>
                <input id='text' class="form__field " placeholder="Text "/>
                <a class="btn btn--primary btn--inside uppercase " href="#" onclick="make() " >Make</a>
            </form>
        </div>
    </div>
</body>

</html>
